
.app {
  align-self: center;
  /* border: 1px solid rebeccapurple; */
}

.game {
  align-items: center;
  /* border: 1px solid rebeccapurple; */
  padding: 100px;
}

.board {
  display: grid;
  /* grid-template-columns: repeat( 10, 30px); */
  grid-template-columns: repeat( 3, 30px);
  grid-auto-rows: 30px;
  
  padding: 20px;
}

.cell_container {
  padding: 10px;
  background-color:  lightgrey;
  border-radius: 2px;
  /* background-color:  rgb(128, 128, 128); */
  /* border: 1px solid rgb(0, 0, 34); */
}

.cell_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
}

.hidden {
  background-color:  rgb(214, 197, 150);
  /* background-color:  rgb(128, 128, 128); */
  /* background-color:  lightgrey; */
  border: 1px solid rgb(0, 0, 61);
  border-radius: 5px;
}

.cell_img {
  width: 20px;
  height: 20px;
  /* border: 1px solid rebeccapurple; */
}

.one {
  color: blue;
}

.two {
  color: green;
}

.three {
  color: rgb(255, 102, 0);
}

.four {
  color: purple;
}

.five {
  color: maroon;
}

.six {
  color: rgb(55, 190, 177);
}

.seven {
  color: black;
}

.eight {
  color: black;
}
